// Place all the styles related to the api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#session-form-modal {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 600px;
  width: 350px;
  background: white;
  border-radius: 3px;
}

.session-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.session-form {
}
