// Place all the styles related to the api/songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.song-artwork {
  height: 160px;
  width: 160px;
}

.play-button {
  background-image: url('https://res.cloudinary.com/samueldchia/image/upload/v1517883347/playbutton_wgasg8.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 36px;
  width: 36px;
  border: none;
}

.pause-button {
  background-image: url('https://res.cloudinary.com/samueldchia/image/upload/v1517883344/pausebutton_vqwmk7.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 36px;
  width: 36px;
  border: none;
}

.playback-button-txt {
  display: none;
}

.songs-index {
  background: #fafafa;
  max-width: 1260px;
  min-width: 900px;
}
