/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  background: #f2f2f2;
  height: 100%;
}

#signin-btn {
  background: none;
  border: 0.5px solid white;
}

.session-button {
  font-family: 'Roboto', sans-serif;
  opacity: 1;
  font-size: 14px;
  color: white;
  border-radius: 3px;
  padding: 6px 15px;
  /* background: #003366; */
  background: #0059B3;
  border: 0.6px solid #002566;
}

button:hover {
  cursor: pointer;
  outline: 0;
}

button:focus {
  outline: 0;
}

.disabled {
  display: none;
}

.empty-h4 {
  font-weight: 300;
  margin-top: 25px;
  font-size: 18px;
  color: #333333;
}

.empty-h5 {
  font-weight: 300;
  margin-top: 8px;
  font-size: 16px;
  color: #999999;
}

.disabled-button {
  opacity: 0.3;
}

.disabled-button:hover {
  cursor: default;
}
