.music-player {
  position: fixed;
  bottom: 0;
  height: 48px;
  width: 100%;
  border-top: 1px solid #cecece;
  background: #f2f2f2;
  z-index: 10;
  display: flex;
  justify-content: center;
}

#player-play-button {
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1518087210/play_peehcf.svg");
}

#player-pause-button {
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1518087485/pause_mwlebg.svg");
}

#player-next-button {
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1518095532/next_fcbbl5.svg");
}

#player-prev-button {
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1518095535/prev_pacxej.svg");
}

#player-volume-button {
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1518124462/volume_fii9qx.svg");
}

#player-muted-button {
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1518124938/muted_ubzvs2.svg");
}

#player-low-volume-button {
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1524383729/low-volume_pa4f4o.svg");
}

#player-repeat-button {
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1524386787/repeat_ufmwdn.svg");
}

#player-repeat-blue-button {
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1524388553/repeat-blue_bvrhsb.png");
}

.player-button {
  background-color: #f2f2f2;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 48px;
  width: 24px;
  margin-left: 12px;
  border: none;
}

.volume-button {
  margin: 0;
}

.progress-bar-div {
  padding: 0 18px;
}

.progress-bar-div:hover {
  cursor: pointer;
}

.progress-ball {
  position: relative;
  top: -4px;
  margin-left: -4px;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: #0059B3;
  opacity: 0;
  transition: opacity 150ms;
}

.visible {
  opacity: 1;
}

.progress-bar-div:hover .progress-ball {
  opacity: 1;
}

.progress-bar-elapsed-time {
  width: 0;
  height: 1px;
  background: #0059B3;
  margin: 23.5px 0;
}

.progress-bar-total {
  width: 100%;
  height: 1px;
  background: #ccc;
}

#progress-bar {
  width: 500px;
}

.progress-bar-div {
  height: 100%;
  display: flex;
}

div[class^='progress-bar-time'] {
  height: 49px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

div[class^='progress-bar-time'] span {
  width: 35px;
  font-size: 12px;
  text-align: center;
}

.progress-bar-time-current span {
  color: #0059B3;
}

.volume-control-div {
  display: flex;
  flex-direction: column;
}

.volume-control-div:hover {
  cursor: pointer;
}

.volume-slider-box {
  position: absolute;
  bottom: 40px;
  margin-left: -6px;
  height: 130px;
  width: 32px;
  border: 1px solid #cecece;
  background: #f2f2f2;
  box-shadow: 0 3px 4px -1px rgba(0,0,0,.1);
  // display: none;
}

div[class^="volume-slider-box-pointer"] {
  position:absolute;
  width: 0;
  height: 0;
  display: none;
  box-sizing:border-box;
  transform: rotate(-45deg);
}

.volume-slider-box-pointer-outline {
  margin-left: 6px;
  bottom: 36px;
  border: 5px solid #ccc;
  border-color: transparent transparent #ccc #ccc;
  box-shadow: -3px 3px 4px rgba(0,0,0,.1);
}

.volume-slider-box-pointer-fill {
  margin-left: 7px;
  bottom: 38px;
  border: 4px solid #f2f2f2;
  border-color: transparent transparent #f2f2f2 #f2f2f2;
}

.volume-slider {
  height: 100px;
  width: 2px;
  margin: 15px 0 0 15px;
  background: #ccc;
}

.volume-fill {
  position: absolute;
  bottom: 15px;
  width: 2px;
  background: #0059B3;
}

.volume-ball {
  position: relative;
  top: -4px;
  left: -3px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #0059B3;
}

.expanded-volume {
  display: block !important;
}

.player-song-info {
  width: 250px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.player-song-info > a {
  height: 30px;
}

.player-song-author {
  color: #999;
}

.player-song-title {
  color: #666;
}

span[class^="player-song"] {
  font-size: 11px;
}

span[class^="player-song"]:hover {
  color: black;
}

.player-song-artwork {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.display-while-clicked {
  display: block;
}
