.profile-form{
  height: auto;
  background: #ffffff;
  font-size: 14px;
  padding: 25px;
}

.pf-main {
  display: flex;
  width: 800px;
  height: 334px;
  border-bottom: 1px solid #f2f2f2;
}

.pf-h2 {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 7px;
  margin-bottom: 24px;
  border-bottom: 1px solid #f2f2f2;
}

.pf-image {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 25px;
  box-sizing: border-box;
}

.pf-settings {
  width: 515px;
}

.profile-form-field-div {
  margin-bottom: 15px;
  display: inline-block;
  justify-content: space-between;
}

.pf-input-div {
  display: block;
}

.pf-form-input {
  width: 250px;
  padding: 3px 6px;
  box-sizing: border-box;
}

#pf-display-name {
  width: 515px;
  font-size: 18px;
  padding: 7px 8px;
}

#pf-profile-url {
  border-color: transparent;
  width: 330px;
}

#pf-profile-url:focus {
  border-color: gray;
}

#pf-city, #pf-first-name {
  margin-right: 15px;
}

.pf-span {
  display: inline-block;
  margin-bottom: 6px;
}

#pf-bio {
  width: 515px;
  height: 65px;
}

.pf-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}
