#profile-form-modal {
  margin-top: 76px;
}

.profile-form{
  height: auto;
  background: #ffffff;
  font-size: 14px;
  padding: 25px;
}

.pf-main {
  display: flex;
  width: 800px;
  border-bottom: 1px solid #e0e0e0;
}

.pf-h2 {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 7px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
}

.pf-image {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  margin-right: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.pf-settings {
  width: 515px;
}

.profile-form-field-div {
  margin-bottom: 15px;
  display: inline-block;
  justify-content: space-between;
}

.profile-form-permalink-div {
  width: 100%;
}

.pf-permalink-input-div {
  display: flex;
}

.permalink-edit-button {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  height: 22px;
  width: 27px;
  padding: 0;
}

.pf-input-div {
  margin-top: 6px;
}

.pf-span-wrapper {
  display: flex;
  align-items: center;
  padding: 2px 0 1px 0;
}

.pf-form-input {
  width: 250px;
  padding: 3px 6px 2px 6px;
  box-sizing: border-box;
}

#pf-display-name {
  width: 515px;
  font-size: 18px;
  box-sizing: border-box;
}

.url-input {
  border-color: transparent;
  padding: 2px 0 1px 1px;
  flex: 1;
  width: auto;
}

.url-input:focus {
  border-color: gray;
}

.url-input:focus~.permalink-edit-button {
  display: none;
}

#pf-city, #pf-first-name {
  margin-right: 15px;
}

#pf-bio {
  width: 515px;
  height: 65px;
}

.label-span {
  display: flex;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.permalink-validation {
  margin-left: 185px;
  margin-top: 6px;
  color: #35A7FF;
  font-size: 11px;
}

.validation-error {
  border-color: #35A7FF;
}

.validation-error~.permalink-edit-button {
  display: none;
}

.validation-error:focus {
  border-color: #35A7FF;
}

.permalink-edit-button:hover {
  border-color: #ccc;
}

.form-update-profile-pic-button {
  background-color: rgba(255,255,255,.8);
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding-top: 5px;
  margin-top: 220px;
  margin-left: 73px;
  transition: background-color .2s ease-in-out;
}

.form-update-profile-pic-button:hover {
  background-color: #fff;
}
