.profile-form{
  display: block;
  height: auto;
  background: #ffffff;
  font-size: 14px;
  padding: 25px;
}

.pf-h2 {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 7px;
  margin-bottom: 24px;
  border-bottom: 1px solid #f2f2f2;
}

.profile-form-field-div {
  margin-bottom:  15px;
  display: inline-block;
  justify-content: space-between;
  padding: 0 5px;
}

.pf-input-div {
  display: block;
}

.pf-form-input {
  width: 245px;
  padding: 3px 6px;
  box-sizing: border-box;
}

#pf-display-name {
  width: 500px;
  font-size: 18px;
  padding: 7px 8px;
}

#pf-profile-url {
  border-color: transparent;
  width: 315px;
}

#pf-profile-url:focus {
  border-color: gray;
}

.pf-span {
  display: inline-block;
  margin-bottom: 6px;
}

#pf-bio {
  width: 500px;
  height: 60px;
}
