.sidebar-follow-user-item {
  width: 300px;
  height: 50px;
  padding: 10px 0;
  display: flex;
}

.follow-list-user-avatar {
  margin-right: 10px;
}

.follow-list-user-avatar-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1520836942/blue_v6mtey.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.follow-list-user-info {
  width: 240px;
}
.follow-list-username {
  margin-top: 6px;
  font-size: 14px;
}

.follow-list-extra {
  display: flex;
}

.follow-list-user-data {
  display: flex;
  flex: 1;
  align-items: center;
  color: #999;
}

.follow-list-user-data> span {
  margin-top: 2px;
}

.follow-button {
  font-family: 'Overpass', 'Open Sans', 'Roboto', sans-serif;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-size: 11px;
  padding: 5px 9px 1px 8px;
}

.p-follow-button {
  background-color: #0059B3;
  border-color: #0059B3;
  color: #fff;
}


.follow-button:hover {
  border-color: #ccc;
}

.following {
  background-color: #fff;
  border-color: #35A7FF;
  color: #35A7FF;
}

.p-follow-button:hover {
  border-color: #0059B3;
}

.following:hover {
  border-color: #35A7FF;
}
