.sidebar-follow-user-item {
  width: 300px;
  height: 50px;
  padding: 10px 0;
  display: flex;
}

.follow-list-user-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url("http://res.cloudinary.com/elitebeats/image/upload/v1518126520/defaultprofile_zl2itc.png");
  background-size: cover;
  margin-right: 10px;
}

.follow-list-user-info {

}

.follow-list-username {
  margin-top: 6px;
  font-size: 14px;
}

.follow-button {
  background-color: transparent;
  border: 1px solid #e5e5e5;
  color: #333;
  border-radius: 3px;
  font-size: 11px;
  padding: 3px 9px 2px 8px;
}
