.song-tile {
  width: 100%;
  display: inline-block;
  position: relative;
}

.song-tile-artwork-div {
  padding-top: 100%;
  height: 0;
  position: relative;
  z-index: 10;
}

.song-tile-artwork-div:hover .song-tile-playback-button {
  opacity: 1;
}

.song-tile-image {
  box-shadow: rgba(0,0,0,.1) 0 0 0 1px inset;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1518134441/default_album_kynclq.png");
}

.centered-button {
  position: absolute;
  top: 34%;
  right: 34%;
  bottom: 34%;
  left: 34%;
}

.song-tile-playback-button {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .1s;
}

.song-tile-info {
  margin: 10px 0 40px 0;
}

.song-tile-text {
  font-weight: 100;
  display: flex;
}

.song-tile-title {
  font-size: 15px;
  height: 20px;
  color: #333;
}

.song-tile-link {
  padding-top: 2px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
}

.song-tile-author {
  font-size: 13px;
  height: 12px;
  color: #999;
  margin-top: 4px;
}

.song-tile-text:hover {
  color: black;
}
