.more-buttons-list {
  display: none;
  position: absolute;
  top: 21px;
  left: 0;
}

.song-artwork {
  height: 160px;
  width: 160px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
}

.display-list {
  display: block;
}

.song-item-buttons-div {
  display: flex;
  margin-top: 7px;
}

.management-div {
  position: relative;
}

.song-item-button {
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 0;
  height: 21px;
  margin-right: 7px;
}

.song-item-button:hover {
  border-color: #ccc;
}

.like-button-icon {
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1526270028/like-dark_zozwdc.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 50% 40%;
  width: 20px;
  height: 20px;
}

.active-button {
  border-color: #0059B3;
  color: #0059B3;
}

.active-button:hover {
  border-color: #0059B3;
}

.song-management-button {
  background: white;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.song-management-button > i {
  margin-left: 5px;
}

.fa-trash {
  margin-right: 1.67px;
}

.song-management-button:hover {
  background: #f2f2f2;
}

.sm-button-text {
  height: 14px;
  margin-left: 5px;
}

.more-list-item {
  width: 115px;
  height: 30px;
  border: 1px solid #e5e5e5;
}

.more-list-item:first-of-type {
  border-bottom: none;
}

.song-item-right {
  display: block;
}

i[id^="more-"] {
  font-size: 16px;
  padding: 2px 5px 1px 5px;
}

.song-item-left {
  margin-right: 15px;
  height: 160px;
  width: 160px;
}

.song-item-right {
  width: calc(100% - 175px);
}

.song-header {
  display: flex;
  width: 100%;
  padding: 7px 0;
}

.list-tag {
  font-size: 13px;
  padding: 0 6px;
  line-height: 16px;
  height: 16px;
  display: inline-block;
}

#song-play-button {
  background-image: url('https://res.cloudinary.com/elitebeats/image/upload/v1524528748/playbutton-light_lzd84q.png');
}

#song-play-button:hover {
  background-image: url('https://res.cloudinary.com/elitebeats/image/upload/v1524528748/playbutton-dark_rmkf4t.png');
  background-color: #000095;
  border-color: #000095;
}

#song-pause-button {
  background-image: url('https://res.cloudinary.com/elitebeats/image/upload/v1524528742/pausebutton-dark_rnyc7g.png');
  background-color: #000095;
  border-color: #000095;
}

.song-list-playback-button {
  height: 36px;
  width: 36px;
  margin-right: 5px;
}

.songs-index {
  width: 100%;
}

.song-item {
  width: 100%;
  display: flex;
  margin-bottom: 36px;
}

.songtitle {
  flex: 1;
}

.songtitle-author {
  font-size: 13px;
  color: #999;
  line-height: 16px;
}

.songtitle-author:hover, .songtitle-title:hover {
  color: black;
}

.songtitle-title {
  font-size: 15px;
  line-height: 1.2px;
  font-weight: 100;
  color: #333;
}

.songtitle-list-el {
  margin-bottom: 3px;
}

.song-stats {
  display: flex;
  color: #999;
  font-size: 12px;
}

.song-stats-el {
  display: flex;
  margin: 5px 10px 5px 0;
}

.stat-span {
  margin-top: 0.5px;
}

.list-icon {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 16px;
  height: 12px;
  width: 16px;
}

.song-stats-link {
  display: flex;
}

.song-stats-link:hover {
  color: black;
}

#playcount-icon {
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1524724643/playcount_fqzswo.svg");
}

#list-comment-icon {
  background-position: 50% 37%;
}
