#file-input {
  display: none;
  width: 1px;
}

#song-form-modal {
  position: relative;
  top: 50px;
  border: none;
}

.upload-form-modal {
  width: 852px;
  height: 348px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-form-page {
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 76px 30px 30px 30px;
  width: 1240px;
  min-height: 100vh;
}

.upload-form-input, select, textarea {
  width: 502px;
  margin-top: 7px;
}

.genre-select {
  width: 220px;
}

.upload-form-input-div {
  width: 520px;
  margin-bottom: 20px;
}

.upload-form-input-div:first-of-type{
  margin-bottom: 10px;
}

.song-upload-form-wrapper {
  width: 852px;
}

.song-upload-form {
  width: 800px;
  display: flex;
  padding: 25px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  background: white;
}

.upload-form-inner-div {
  width: 530px;
  margin-left: 20px;
  display: block;
}

#song-upload-button {
  margin-bottom: 30px;
}

#upload-form-permalink-div {
  margin-bottom: 15px;
  font-size: 13px;
  margin-right:0;
  display: flex;
}

#upload-form-permalink-input {
  border: 1px solid transparent;
  padding: 4px 0 3px 1px;
  width: auto;
  flex: 1;
}

#upload-form-permalink-input:focus {
  border-color: gray;
}

.form-permalink-label {
  display: flex;
  align-items: center;
  padding: 4px 0 3px 0;
}

.form-permalink-span {
  color: gray;
}

.form-cancel-button {
  border: none;
  color: gray;
  background: none;
  margin-right: 10px;
}

.form-save-button {
  border: none;
  color: white;
  background: #0059B3;
  font-family: "Roboto";
  padding: 5px 8px;
  border-radius: 3px;
}

.upload-form-buttons-div {
  margin-top: 20px;
}

.upload-artwork {
  width: 250px;
  height: 250px;
}

#artwork-input {
  display: none;
}

.artwork-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-update-button {
  margin-top: 5px;
  padding-top: 5px;
  border-radius: 3px;
  opacity: 0.7;
  border: 0.7px solid black;
  background: white;
}

.image-update-button:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

.genre-span{
  display: block;
}
