.song-show-page {
  position: absolute;
  top: 46px;
  background: white;
}

.song-page-playback-button {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 60px;
  width: 60px;
  margin-right: 5px;
  border: none;
}

#song-page-play-button {
  background-image: url('https://res.cloudinary.com/elitebeats/image/upload/v1518427647/playbutton_d04vy0.png');
  background-color: transparent;
}

#song-page-pause-button {
  background-image: url('https://res.cloudinary.com/elitebeats/image/upload/v1518428461/pausebutton_aj6oxo.png');
  background-color: transparent;
}

.song-page-header {
  background-image: url('https://res.cloudinary.com/elitebeats/image/upload/v1518134094/default-cover3_x3axyo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 1260px;
  height: 380px;
  display: flex;
}

.song-page-header-left {
  display: flex;
  padding: 30px 10px 20px 30px;
}

.song-page-header-title {
  margin-left: 10px;
  width: 615px;
  height: 60px;
}

.header-author-div {
  margin-bottom: 10px;
  height: 21px;
}

.header-author {
  position: relative;
  top: 2px;
  font-size: 16px;
  color: #cccccc;
  background: black;
  padding: 5px 7px 1px 7px;
}

.header-author:hover {
  color: white;
}


.header-title-songtitle {
  font-size: 24px;
  background: black;
  padding: 8px 8px 4px 8px;
  color: white;
}

.header-info {
  color: white;
  font-size: 16px;
  font-weight: 100;
  width: 150px;
  display: block;
  height: 60px;
}

.header-time {
  position: relative;
  top: 5px;
  font-size: 16px;
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-genre {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-genre > span {
  font-size: 16px;
  background: #999999;
  border-radius: 20px;
  justify-content: space-around;
  padding: 5px 5px 1px 5px;
}

.song-header-artwork {
  height: 340px;
  width: 340px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px;
}

.song-page-main {
  padding: 30px;
}

.write-comment-div {
  display: flex;
}

.comment-user-image {
  height: 40px;
  width: 40px;
  background-size: cover;
}

.comment-input-div {
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.song-comment-input {
  height: 25px;
  width: 745px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  padding: 0 9px;
}

.song-comment-input:focus {
  outline: none;
  border-color: #999999;
}

.song-info {
  width: 815px;
  display: flex;
  border-top: 1px solid #f2f2f2;
  margin-top: 15px;
  padding-top: 20px;
}

.song-info-author-image {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  background-size: cover;
  margin-bottom: 10px;
}

.song-info-author-info {
  display: block;
  width: 120px;
  font-size: 14px;
}

.song-info-author-name {
  overflow: hidden;
}

.song-info-author-details {
  display: flex;
  color: #999999;
  align-items: center;
  margin-top: 5px;
  height: 14px;
}

.song-info-author-details > span {
  margin-top: 1.5px;
}

div[class^="song-info-author-icon-"] {
  background-size: 16px 16px;
  background-position: center center;
  height: 12px;
  width: 16px;
  margin-right: 3px;
}

.song-info-author-icon-followers {
  background-image: url(http://res.cloudinary.com/elitebeats/image/upload/v1520840201/followers_morlse.svg);
}

.song-info-author-icon-sounds {
  margin-left: 10px;
  background-image: url(http://res.cloudinary.com/elitebeats/image/upload/v1520842715/sounds_zopriw.svg);
}

.song-info-main {
  margin-left: 30px;
  width: 100%;
}

.song-info-description {
  height: 100px;
  overflow: hidden;
  font-size: 14px;
}

.song-info-comment-header {
  display: flex;
  height: 21px;
  width: 100%;
  font-size: 14px;
  color: #999999;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #f2f2f2;
}

.song-info-comment-icon {
  height: 21px;
  width: 21px;
  background-size: 22px 22px;
  background-image: url(http://res.cloudinary.com/elitebeats/image/upload/v1520841178/comments_zgunvi.svg);
  background-position: center bottom;
  margin-right: 5px;
}
