.song-show-page {
  position: absolute;
  top: 46px;
  background: white;
  min-height: 100%;
}

.song-page-playback-button {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 60px;
  width: 60px;
  margin-right: 5px;
  border: none;
}

#song-page-play-button {
  background-image: url('https://res.cloudinary.com/elitebeats/image/upload/v1524528748/playbutton-light_lzd84q.png');
  background-color: transparent;
}

#song-page-play-button:hover {
  background-image: url('https://res.cloudinary.com/elitebeats/image/upload/v1524528748/playbutton-dark_rmkf4t.png');
}

#song-page-pause-button {
  background-image: url('https://res.cloudinary.com/elitebeats/image/upload/v1524528742/pausebutton-dark_rnyc7g.png');
  background-color: transparent;
}

.song-page-header {
  background-image: url('https://res.cloudinary.com/elitebeats/image/upload/v1518134094/default-cover3_x3axyo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 1240px;
  height: 380px;
  display: flex;
}

.song-page-header-left {
  display: flex;
  padding: 30px 10px 20px 30px;
}

.song-page-header-title {
  margin-left: 10px;
  width: 615px;
  max-height: 101px;
}

.header-author-div {
  margin-bottom: 10px;
  height: 21px;
}

.header-author {
  position: relative;
  top: 2px;
  font-size: 16px;
  color: #ccc;
  background: black;
  padding: 5px 7px 1px 7px;
}

.header-author:hover {
  color: white;
}

.header-title-songtitle {
  font-size: 24px;
  background: black;
  padding: 8px 8px 4px 8px;
  color: white;
  line-height: 36px;
  display: inline;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.header-info {
  color: white;
  font-size: 16px;
  font-weight: 100;
  width: 150px;
  display: block;
  height: 60px;
}

.header-time {
  position: relative;
  top: 5px;
  font-size: 16px;
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-genre {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-genre > span {
  font-size: 16px;
  background: #999;
  border-radius: 20px;
  justify-content: space-around;
  padding: 5px 5px 1px 5px;
}

.song-header-artwork {
  height: 340px;
  width: 340px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px;
}

.song-page-main {
  padding: 30px;
}

.write-comment-div {
  display: flex;
}

.comment-user-image {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position: 50% 50%;
}

.comment-input-div {
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.song-comment-input {
  height: 25px;
  width: 745px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  padding: 0 9px;
}

.song-comment-input:focus {
  outline: none;
  border-color: #999;
}

.song-info {
  width: 815px;
  display: flex;
  border-top: 1px solid #f2f2f2;
  margin-top: 15px;
  padding-top: 20px;
}

.song-info-author-image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-size: cover;
  margin-bottom: 10px;
  background-position: 50% 50%;
}

.song-info-author-info {
  display: block;
  width: 120px;
  font-size: 14px;
}

.song-info-author-name {
  overflow: hidden;
}

.song-info-author-details {
  display: flex;
  color: #999;
  align-items: center;
  margin: 9px 0 10px 0;
  height: 14px;
}

.song-info-author-details > span {
  margin-top: 1.5px;
}

div[class^="icon-"] {
  background-size: 16px 16px;
  background-position: center center;
  height: 12px;
  width: 16px;
  margin-right: 3px;
}

.icon-followers {
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1520840201/followers_morlse.svg");
}

.icon-sounds {
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1520842715/sounds_zopriw.svg");
}

.song-info-main {
  margin-left: 30px;
  width: 100%;
  margin-bottom: 40px;
}

.song-info-description {
  min-height: 100px;
  overflow: hidden;
  font-size: 14px;
  padding-bottom: 5px;
}

.song-info-comment-header {
  display: flex;
  height: 21px;
  width: 100%;
  font-size: 14px;
  color: #999;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #f2f2f2;
}

.song-info-comment-icon {
  height: 21px;
  width: 21px;
  background-size: 22px 22px;
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1520841178/comments_zgunvi.svg");
  background-position: center bottom;
  margin-right: 5px;
}

.post-comment-button {
  display: none;
}

.comment-list {
  font-size: 13px;
}

.comment-list-item {
  display: flex;
  padding: 10px 10px 10px 0;
}

.comment-author-avatar {
  margin-right: 10px;
}

.comment-author-avatar-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
}

.comment-author-name {
  color: #999;
  margin-bottom: 5px;
}

.comment-author-name:hover {
  color: #333;
}

.comment-main {
  width: 520px;
}

.user-details {
  display: flex;
  font-size: 13px;
}

.user-details:last-of-type {
  margin-left: 10px;
}

.user-details:hover {
  cursor: default;
  color: #333;
}

.comment-extra {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1px;
  color: #999;
  font-size: 11px;
  width: 85px;
}

.empty-comments-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #f2f2f2;
}

.empty-comments-image {
  height: 195px;
  width: 194px;
}

#delete-comment-button {
  margin-top: 5px;
  height: 22px;
  width: 25px;
  background: none;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 0;
  display: none;
}

#delete-comment-button:hover {
  border-color: #ccc;
}

.delete-icon {
  margin: 0 1px;
  height: 20px;
  width: 20px;
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1521626721/delete_uibpeh.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
}

.comment-list-item-author:hover #delete-comment-button {
  display: block;
}
