#file-input {
  display: none;
  width: 1px;
}

#song-form-modal {
  margin-top: 76px;
  border: none;
}

.upload-form-modal {
  width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-form-page {
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 76px 30px 30px 30px;
  width: 1240px;
  min-height: 100vh;
}

.upload-form-input {
  width: 497px;
  margin-top: 7px;
}

.genre-select {
  width: 230px;
}

.upload-form-input-div {
  margin-top: 15px;
  width: 515px;
}

.upload-form-input-div:first-of-type {
  margin-top: 5px;
}

.upload-form-input-div:first-of-type{
  margin-bottom: 10px;
}

.song-upload-form {
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  width: 850px;
  padding: 25px;
}

.sf-main {
  width: 800px;
  display: flex;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.upload-form-inner-div {
  width: 515px;
  margin-left: 25px;
  display: block;
}

#song-upload-button {
  margin-bottom: 30px;
}

#upload-form-permalink-div {
  margin-bottom: 0;
  font-size: 13px;
  margin-right:0;
  display: flex;
}

.form-permalink-label {
  display: flex;
  align-items: center;
  padding: 2px 0 1px 0;
}

.form-permalink-span {
  color: gray;
}

.form-permalink-span {
  cursor: text;
}

.form-cancel-button {
  border: none;
  color: gray;
  background: none;
  margin-right: 10px;
}

.form-save-button {
  border: none;
  color: white;
  background: #0059B3;
  font-family: "Roboto";
  padding: 5px 8px;
  border-radius: 3px;
}

.upload-artwork {
  width: 260px;
  height: 260px;
}

#artwork-input {
  display: none;
}

.artwork-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-update-button {
  margin-top: 5px;
  padding-top: 5px;
  border-radius: 3px;
  opacity: 0.7;
  border: 0.7px solid black;
  background: white;
}

.image-update-button:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

.genre-span{
  display: block;
}

.sf-description {
  height: 65px;
}

.upload-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-h1 {
  text-align: center;
  margin-bottom:  25px;
  font-size: 24px;
}

.file-validation {
  color: #35A7FF;
}

.artwork-validation {
  margin-top: 7px;
  font-size: 13px;
  color:  #35A7FF;
}
