.splash-div {
  background-image: asset-url('splash.jpg');
  opacity: 0.95;
  background-size: 100%;
  max-width: 1590px;
  max-height: 1060px;
  min-width: 900px;
  min-height: 600px;
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  border-top: 5px solid #0059B3
}

.nav-bar {
  position: relative;
  display: flex;
}

.splash-logo {
  position: absolute;
  top: 30px;
  left: 25px;
}

.splash-logo h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: white;
  text-shadow: 0.5px 0.5px black;
}

.session-button-div {
  position: absolute;
  display: flex;
  right: 35px;
  top: 30px;
  width: 208px;
  justify-content: space-between;
}
