.splash-main-div {
  max-width: 1240px;
  min-width: 960px;
  width: 100%;
  height: auto;
}

.splash-hero {
  position: relative;
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1517614723/splash_jrlisr.jpg");
  width: 100%;
  max-height: 840px;
  min-height: 600px;
  opacity: 0.95;
  background-size: cover;
  background-position: 50% 35%;
  background-repeat: no-repeat;
  border-top: 5px solid #0059B3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-logo {
  position: absolute;
  top: 30px;
  left: 25px;
}

.splash-logo h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: white;
  text-shadow: 0.5px 0.5px black;
}

.splash-hero-session-bttns {
  position: absolute;
  display: flex;
  right: 35px;
  top: 30px;
  width: 208px;
  justify-content: space-between;
}


[class^="splash-text-h"] {
  text-align: center;
  color: white;
}

.splash-hero-notice {
  position: absolute;
  top: 38%;
  left: calc(50% - 275px);
  transform: translateY(-50%);
  width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-text-h1 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  font-weight: 500;
  width: 100%;
}

.splash-text-h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  padding: 5px;
  width: 100%;
}

#big-signup-bttn {
  margin-top: 25px;
  font-size: 18px;
  padding: 10px 25px;
}

.splash-lower {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 30px 75px 30px;
}

.splash-search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  font-size: 15px;
  width: 500px;
  background: #eee;
  padding: 15px;
  border-radius: 3px;
  border: none;
}

.search-input:focus {
  outline: none;
}

.splash-trending {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.trending-h1 {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin: 35px 0;
}

.trending-list-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.trending-list {
  width: 100%;
}

.trending-list-el {
  margin-right: 20px;
  width: calc((100% - 100px) / 6);
  max-width: 180px;
}

.trending-list-el:nth-of-type(6n) {
  margin-right: 0;
}

.splash-footer {
  display: flex;
  width: 192px;
  justify-content: space-between;
  margin: 60px 0 30px 0;
}

button[class^="external-link-button"] {
  padding: 0;
  border: none;
}

.external-link-button {
  position: relative;
  top: 0;
  transition: top .2s ease-in-out;
}

.external-link-button:hover {
  top: -10px;
}

.external-link{
  height: 64px;
  width: 64px;
  border-radius: 15px;
  background-repeat: no-repeat;
}

.github-mark {
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1524898743/25657-github-sign-icon-vector-icon-vector-eps_seh0rk.png");
  background-position: 50% 50%;
  background-size: 64px 64px;
}

.linkedin-mark {
  background-image: url("https://res.cloudinary.com/elitebeats/image/upload/v1524898263/In-Black-66px-TM_fxofbg.png");
  height: 64px;
  width: 64px;
  background-size: 77px 66px;
  background-position: 10% 50%;
}
