.in {
  animation: slideOut 0.5s ease-in-out both;
}

.out {
  animation: slideIn 0.5s ease-in-out both;
}

@keyframes slideIn {
  0%   { left: -325px; }
  100% { left: 0; }
}
@keyframes slideOut {
  0%   { left: 0; }
  100% { left: -325px; }
}
