.in {
  animation: slideOut 0.3s ease-in-out both;
}

.out {
  animation: slideIn 0.3s ease-in-out 0.2s both;
}

@keyframes slideIn {
  0%   { top: -495px; }
  100% { top: 0; }
}
@keyframes slideOut {
  0%   { top: 0; }
  100% { top: -495px; }
}
