<!DOCTYPE html>
<html>
  <head>
    <title>EliteBeats</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="https://res.cloudinary.com/elitebeats/image/upload/e_make_transparent:10/v1520845215/eb_icon_e0rzuf.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500|PT+Sans|Roboto:300,400,500|Open+Sans|Overpass:300,400,500,600" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
